.product {
  width: 100%;
  padding-top: 1.6rem;
  padding-bottom: 1.36rem;
  :global .title {
    display: flex;
    align-items: center;
    padding: 0.4rem 0 0.32rem;
    >span {
      display: inline-block;
      width: 0.106667rem;
      height: 0.426667rem;
      margin-right: 0.12rem;
      border-radius: 0.106667rem;
      background-color: #FFD220;
    }
    >strong {
      font-size: 0.533333rem;
    }
  }
  >div {
    &:first-of-type {
      position: fixed;
    }
    &:nth-of-type(2) {
      padding: 0 0.533333rem;
      :global .one-item {
        .cover {
          position: relative;
          width: 100%;
          height: 3.84rem;
          border-radius: 0.266667rem;
          .join_number {
            position: absolute;
            top: 0.24rem;
            right: 0.24rem;
            padding: 0.08rem 0.24rem;
            border-radius: 1rem;
            color: #FFFFFF;
            font-size: 0.32rem;
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
        .desc {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.24rem 0 0.4rem;
          > div {
            font-size: 0.32rem;
          }
          .friends {
            color: #999999;
          }
        }
      }
      :global .one-item-with-text {
        .container {
          .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.56rem 0;
            &:first-of-type, &:last-of-type {
              margin: 0;
            }
            .cover {
              position: relative;
              width: 2.8rem;
              height: 2.8rem;
              border-radius: 0.266667rem;
              .icon {
                position: absolute;
                bottom: 0.16rem;
                right: 0.16rem;
                width: 0.48rem;
                height: 0.48rem;
              }
            }
            .content {
              width:  calc(100% - 2.8rem);
              padding-left: 0.16rem;
              .name {
                font-size: 0.426667rem;
                font-weight: bold;
              }
              .tags {
                margin: 0.32rem 0;
                .tag {
                  display: inline-block;
                  padding: 0.026667rem 0.18rem;
                  font-size: 0.32rem;
                  margin-left: 0.08rem;
                  border-radius: 1rem;
                  border: 1px solid #FFD889;
                  color: #FF9B00;
                  background-color: #FFF2DD;
                  &:first-of-type {
                    margin: 0;
                  }
                }
              }
              .infos {
                .info {
                  margin-right: 0.32rem;
                  padding-left: 0.4rem;
                  height: 0.4rem;
                  font-size: 0.32rem;
                  color: #999999;
                }
              }
            }
          }
        }
      }
      :global .two-item {
        >div:last-of-type {
          >div {
            display: inline-block;
            width: 4.266667rem;
            >div {
              &:first-of-type {
                position: relative;
                >img {
                  width: 4.266667rem;
                  height: 4.266667rem;
                  border-radius: 0.266667rem;
                }
                >span {
                  position: absolute;
                  width: 3rem;
                  height: 0.72rem;
                  top: -0.08rem;
                  left: -0.08rem;
                }
              }
              &:nth-of-type(2) {
                padding: 0.16rem 0;
                font-weight: bold;
                font-size: 0.426667rem;
              }
              &:nth-of-type(3) {
                font-size: 0.32rem;
                color: #999;
              }
              &:last-of-type {
                padding: 0.16rem 0 0.32rem;
                font-size: 0.373333rem;
                color: #FF5C00;
              }
            }
          }
        }
      }
      :global .ad-item {
        padding: 0.16rem 0;
        >img {
          width: 100%;
        }
      }
    }
  }
}