.order {
  height: 100%;
  background-color: #F6F6F5;
  >ul {
    padding: 0.32rem 0;
    >li {
      margin: 0.32rem 0;
      background-color: #ffffff;
      &:first-of-type, &:last-of-type {
        margin: 0;
      }
      >div {
        padding: 0 0.4rem;
        &.header {
          height: 1.2rem;
          line-height: 1.2rem;
          display: flex;
          justify-content: space-between;
        }
        &.body {
          display: flex;
          justify-content: space-between;
          padding: 0.32rem 0.4rem;
          >div {
            &.left {
              display: flex;
              width: 80%;
              >div {
                &.cover {
                  >img {
                    width: 2rem;
                    height: 2rem;
                  }
                }
                &.title {
                  margin-left: 0.32rem;
                }
              }
            }
            &.right {
              width: 20%;
              text-align: right;
            }
          }
        }
        &.footer {
          display: flex;
          justify-content: space-between;
          height: 1.2rem;
          line-height: 1.2rem;
        }
      }
    }
  }
}