body.node-body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom right, #996, #99C);
  >#root {
    height: 100vh;
    min-height: 100vh;
    max-width: 12rem;
    // max-width: 375px;
    margin: 0 auto;
    // padding-bottom: 1rem; // 有底部菜单时
    overflow: hidden;
    background-color: #fff;
  }
}
